@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #F7FDFC;
}

/* Logo Section */
.logo-section {
    padding: 10rem;
}

h1 {
    font-size: 2rem;
    color: #000B0A;
}

.heading p {
    font-size: 11px;
    color: #737373;
    margin-top: 15px;
    line-height: 1.8;
}

.heading-mobile {
    display: none;
}

/* Form Section */
.form-section {
    max-width: 450px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.field {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    display: inline-block;
    font-size: 0.8rem;
    color: #011C34;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 6px;
    outline: none;
    color: #737373;
    font-size: 12px;
    font-weight: 100;
}

input:focus,
select:focus {
    border-color: #2EC4B6;
    box-shadow: 0 0 5px #2EC4B6;
}

label {
    transition: color 0.3s ease;
}

input:focus+label {
    color: #2EC4B6;
}

.btn button {
    background-color: #2EC4B6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    outline: none;
    width: 100%;
    font-weight: bold;
}

.btn button:hover {
    background-color: #38ccbd;
}

.field:nth-child(6) {
    position: relative;
    margin-top: 20px;
}

#password {
    padding-right: 40px;
    margin-bottom: 10px;
}

.img {
    position: absolute;
    top: 62%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

p.text {
    font-size: 9.7px;
    text-align: center;
    margin-top: 10px;
}

a {
    color: #2EC4B6;
    text-decoration: none;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form-section {
        margin-top: 1rem;
        margin: 15px;
    }

    p.text {
        max-width: 215px;
        margin: auto;
        padding-top: 10px;
        line-height: 1.8;
    }

    .logo-section {
        display: none;
    }

    .heading {
        display: none;
    }

    .heading-mobile {
        display: inline;
        padding: 1rem;
        max-width: 800px;
    }

    .heading-mobile h1 {
        font-size: 2rem;
        color: #000B0A;
    }
    
    .heading-mobile p {
        font-size: 0.9rem;
        color: #737373;
        margin-top: 15px;
        line-height: 1.8;
    }

    .heading-mobile img {
        width: 50px;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }
}